.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); 
    z-index: 1000;
  }
 
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    z-index: 1001;
  }
  

  .modal h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  

  .modal p {
    font-size: 16px;
    color: #666;
    margin-bottom: 2rem;
  }
  

  .modal button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .modal button:first-of-type {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #d3d3d3;
    margin-right: 1rem;
  }
  
  .modal button:first-of-type:hover {
    background-color: #f0f0f0;
  }
  
  .modal button:last-of-type {
    background-color: red;
    color: #ffffff;
    border: 1px solid red;
  }
  
  .modal button:last-of-type:hover {
    background-color: darkred;
  }
  
  .modal button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0057ff;
  }
  

  .ReactModal__Close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  