/* SearchBar.css */

.search-bar {
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 8px 0 0 8px;
  font-size: 16px;
  outline: none;
}

.search-bar button {
  background-color: #001EB9;
  color: white;
  border: none;
  width: 30%;
  margin-left: 50px;
  padding-left: 10%;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.search-bar button:hover {
  background-color: #001EB9;
}

.search-bar button:focus {
  outline: none;
}

.search-bar input::placeholder {
  color: #999;
}
